#root {
	--color--darkx: rgb(4, 110, 96);
	--color--x: rgb(0, 148, 121);
	--color--grey: #95a5a6;
	--color--darkgrey: #1f3449;
	--color--darkergrey: #15232f;
	--color--whitish: #ebebeb;

	--project--std: 0.3s; /* short-transition-duration */
	--project--mtd: 0.8s; /* medium-transition-duration */
	--project--bs: 0px 0px 16px 0px rgba(255, 255, 255, 0.4);
	--project--br: 20px;
	--project--border: 2px solid var(--color--whitish);

	background-color: var(--color--darkergrey);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.app {
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
}

.app.on-load .loading-spinner {
	opacity: 1;
	pointer-events: all;
}

.app.on-intro .intro {
	opacity: 1;
	pointer-events: all;
}

.app.on-slider .slider {
	opacity: 1;
	pointer-events: all;
}

.slide-in-on-show {
	opacity: 0;
	transform: translate(0, 4vh);
	transition-property: opacity, transform;
	transition-duration: var(--project--mtd);
	transition-timing-function: ease-out;
}

.on-show .slide-in-on-show {
	opacity: 1;
	transform: none;
}
